<main>
  <section class="hero">
    <h1 class="hero__title">The Movie Website</h1>
    <h4 class="hero__subtitle">Your personal movie diary.</h4>
    <mat-form-field class="hero__search-bar" appearance="fill">
      <input
        type="text"
        matInput
        placeholder="Search for a movie..."
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayMovieTitle"
        (optionSelected)="openMovieDetails($event)"
      >
        <mat-option
          *ngFor="let movie of searchResults$ | async"
          [value]="movie"
        >
          {{ movie.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- <div class="hero__browse">
      <span>Browse By:</span>
    </div> -->
  </section>
  <section class="movie-list-container" *ngIf="movies$ | async as movies">
    <section class="movie-list" *ngIf="movies.popular.length">
      <h2 class="movie-list__title">Popular</h2>
      <p-carousel
        [value]="movies.popular"
        [numVisible]="7"
        [numScroll]="7"
        [circular]="true"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="item" let-movie>
          <app-movie-card [movie]="movie"></app-movie-card>
        </ng-template>
      </p-carousel>
    </section>
    <section class="movie-list" *ngIf="movies.topRated.length">
      <h2 class="movie-list__title">Top Rated</h2>
      <p-carousel
        [value]="movies.topRated"
        [numVisible]="7"
        [numScroll]="7"
        [circular]="true"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="item" let-movie>
          <app-movie-card [movie]="movie"></app-movie-card>
        </ng-template>
      </p-carousel>
    </section>
    <section class="movie-list" *ngIf="movies.upcoming.length">
      <h2 class="movie-list__title">Upcoming</h2>
      <p-carousel
        [value]="movies.upcoming"
        [numVisible]="7"
        [numScroll]="7"
        [circular]="true"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="item" let-movie>
          <app-movie-card [movie]="movie"></app-movie-card>
        </ng-template>
      </p-carousel>
    </section>
  </section>
</main>
